#banner {
  width: 1190px;
  margin: 0 auto;
  background: #f4f4f4;
  position: relative;
}
#banner .le {
  height: 470px;
  width: 190px;
  float: left;
  background: #fff;
}
#banner .le ul {
  height: 470px;
  padding-top: 10px;
}
#banner .le ul li {
  font-size: 12px;
  color: #000;
  line-height: 25px;
  padding-left: 18px;
}
#banner .le ul li a:hover {
  color: red;
}
#banner .le ul li:hover {
  background: #ddd;
}
#banner .le .hover {
  width: 1000px;
  box-sizing: border-box;
  position: absolute;
  left: 190px;
  top: 0;
  z-index: 100;
  background: #fff;
  padding: 20px 16px 0 20px;
  overflow: hidden;
  border: 1px solid #d1d1d1;
  display: none;
}
#banner .le .hover .hovernow .hoverleft {
  float: left;
}
#banner .le .hover .hovernow .hoverleft div a {
  display: inline-block;
  margin-right: 10px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  background: #000;
}
#banner .le .hover .hovernow .hoverleft div a:hover {
  background: #c81623;
  color: #fff;
}
#banner .le .hover .hovernow .hoverleft ul {
  height: auto;
}
#banner .le .hover .hovernow .hoverleft ul li {
  padding: 0;
  margin-top: 20px;
}
#banner .le .hover .hovernow .hoverleft ul li span {
  margin-right: 10px;
  font-weight: bold;
}
#banner .le .hover .hovernow .hoverleft ul li span:hover {
  color: #c81623;
}
#banner .le .hover .hovernow .hoverleft ul li:hover {
  background: #fff;
}
#banner .le .hover .hovernow .hoverleft ul a {
  margin-right: 15px;
}
#banner .le .hover .hovernow .hoverleft a:hover {
  color: red;
}
#banner .le .hover .hovernow .hoverright {
  float: right;
  width: 167px;
}
#banner .le .hover .hovernow .hoverright .top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#banner .le .hover .hovernow .hoverright .top img {
  margin-bottom: 1px;
}
#banner .le .hover .hovernow .hoverright .bottom {
  margin-top: 11px;
  margin-bottom: 25px;
}
#banner .le .hover .hovernow .hoverright .bottom img {
  margin-bottom: 1px;
}
#banner .con {
  margin-left: 10px;
  height: 470px;
  width: 590px;
  float: left;
  position: relative;
}
#banner .con .img {
  position: relative;
}
#banner .con .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 590px;
  height: 470px;
  display: none;
}
#banner .con .img .active {
  display: block;
}
#banner .con ul {
  position: absolute;
  bottom: 30px;
  left: 50px;
  overflow: hidden;
  opacity: 0.5;
}
#banner .con ul li {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #eee;
  margin: 0 5px;
}
#banner .con ul .show {
  background: red;
}
