@charset "UTF-8";

#box {
    height: 470px;
    background: #f4f4f4;

    #banner {
        width: 1190px;
        margin: 0 auto;
        // overflow: hidden;
        background: #f4f4f4;
        position: relative;

        .le {
            height: 470px;
            width: 190px;
            float: left;
            background: #fff;

            ul {
                height: 470px;
                padding-top: 10px;
                position: relative;

                li {
                    font-size: 12px;
                    color: #000;
                    line-height: 25px;
                    padding-left: 18px;



                    a:hover {
                        color: red;
                    }

                    .hover {
                        width: 1000px;
                        box-sizing: border-box;
                        position: absolute;
                        left: 190px;
                        top: 0px;
                        z-index: 100;
                        background: #fff;
                        padding: 20px 16px 0 20px;
                        overflow: hidden;
                        border: 1px solid #d1d1d1;
                        display: none;

                        .hovernow {
                            .hoverleft {
                                float: left;

                                div {
                                    a {
                                        display: inline-block;
                                        margin-right: 10px;
                                        padding: 0 10px;
                                        height: 25px;
                                        line-height: 25px;
                                        color: #fff;
                                        text-align: center;
                                        background: #000;
                                    }

                                    a:hover {
                                        background: #c81623;
                                        color: #fff;
                                    }

                                }

                                ul {
                                    height: auto;

                                    li {
                                        padding: 0;
                                        margin-top: 20px;

                                        span {
                                            margin-right: 10px;
                                            font-weight: bold;
                                        }

                                        span:hover {
                                            color: #c81623;
                                        }
                                    }

                                    li:hover {
                                        background: #fff;
                                    }

                                    a {
                                        margin-right: 15px;
                                    }
                                }


                                a:hover {
                                    color: red;
                                }
                            }

                            .hoverright {
                                float: right;
                                width: 167px;

                                .top {
                                    width: 100%;
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;

                                    img {
                                        margin-bottom: 1px;
                                    }
                                }

                                .bottom {
                                    margin-top: 11px;
                                    margin-bottom: 25px;

                                    img {
                                        margin-bottom: 1px;
                                    }
                                }
                            }

                        }
                    }

                }

                li:hover {
                    background: #ddd;
                }

                li:hover .hover {
                    display: block;
                }
            }

        }

        .con {
            margin-left: 10px;
            height: 470px;
            width: 590px;
            float: left;
            position: relative;

            span {
                position: absolute;
                height: 36px;
                width: 26px;
                text-align: center;
                line-height: 36px;
                background: #000;
                opacity: 0.4;
                top: 216px;
                color: #fff;
                font-size: 16px;
                display: none;
            }

            .left {
                left: 0;
                border-radius: 0 18px 18px 0;
            }

            .right {
                right: 0;
                border-radius: 18px 0 0 18px;
            }

            .img {
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 590px;
                    height: 470px;
                    display: none;
                }

                .active {
                    display: block;
                }
            }

            ul {
                position: absolute;
                bottom: 30px;
                left: 50px;
                overflow: hidden;
                opacity: 0.5;

                li {
                    float: left;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: #eee;
                    margin: 0 5px;
                }

                .show {
                    background: red;
                }
            }
        }

        .ri {
            width: 190px;
            margin-left: 10px;
            height: 470px;
            float: left;
            position: relative;

            span {
                position: absolute;
                height: 36px;
                width: 26px;
                text-align: center;
                line-height: 36px;
                background: #000;
                opacity: 0.4;
                top: 216px;
                color: #fff;
                font-size: 16px;
                display: none;
            }

            .left1 {
                left: 0;
                border-radius: 0 18px 18px 0;
            }

            .right1 {
                right: 0;
                border-radius: 18px 0 0 18px;
            }


            .imgbox {
                display: flex;
                height: 470px;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-direction: column;
                display: none;
            }

            .showwing {
                display: flex;
            }

        }

        .end {
            height: 470px;
            width: 190px;
            float: left;
            margin-left: 10px;
            background: #fefefe;
            box-sizing: border-box;

            .top1{
                padding: 8px 20px 0;
                width: 190px;
                height: 102px;
                box-sizing: border-box;
                border-bottom: 1px solid #eee;
                .ttop{
                    margin-bottom: 8px;
                    .div1{
                        height: 44px;
                        width: 44px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        background: url('./../img/dog.jpg') center center no-repeat;
                        float: left;
                    }
                    .div2{
                        float: left;
                        margin-left: 5px;
                        p{
                            line-height: 26px;
                            font-size: 12px;
                            color: #666;
                        }
                        p:hover{
                            color: red;
                        }
                        span{
                            font-size: 12px;
                            color: #666;
                        }
                        span:hover{
                            color: red;
                        }
                        
                    }
                }
                .tbot{
                    display: flex;
                    justify-content: space-between;
                    span{
                        height: 25px;
                        font-size: 12px;
                        width: 70px;
                        text-align: center;
                        border-radius: 12.5px;
                        line-height: 25px;
                    }
                    .tl{
                        color: #fff;
                        background: #e1251b;
                    }
                    .tr{
                        background: #363634;
                        color: #e5d790;
                    }
                    .tr:hover{
                        background: #a91008;
                        color: #fff;
                    }
                }
            }
            .top2{
                padding-left: 14px;
                padding-right: 18px;
                box-sizing: 131px;
                border-bottom: 1px solid #eee;
                .t2{
                    line-height:38px;
                    overflow: hidden;
                    strong{
                        font-size: 14px;
                        color: #000;
                        float: left;
                    }
                    span{
                        float: right;
                        color: #d1d1d1;
                    }
                    span:hover{
                        color: red;
                    }
                    display: block;
                }
                ul{
                    li{
                        margin-bottom:6px ;
                        line-height: 16px;
                        overflow: hidden;
                        i{
                            width: 35px;
                            display: inline-block;
                            background: #fdeeed;
                            color: red;
                        }
                        span{
                            margin-left: 6px;
                            font-size: 11px;
                            color: #666;
                        }
                        span:hover{
                            color: red;
                        }
                    }
                }
            }
        }
    }
}